{% extends './base/base.html' %} {% load staticfiles %} {% block title %} Galeria {% endblock %} {% block content %}
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="section-title">
            <h2>Organic Cases <span>¿Por qué elegir un accesorio sustentable?</span></h2>
            <p>Tomar en cuenta procesos de fabricación que utilicen energías verdes.</p>
            <p>Apostar por materias primas que cuenten con certificados verdes, como madera proveniente de bosques sustentables o textiles orgánicos.</p>
            <p>Dar prioridad a la materia prima local: entre más kilómetros recorran los materiales, más contaminación y mayor la huella de carbono que provocan.
                <p>Apostar por materiales provenientes del reciclaje, como las fibras obtenidas de envases de PET o los conglomerados elaborados con residuos de madera.</p>
                <p>Eliminar químicos tóxicos que puedan dañar la salud de los consumidores.</p>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="box">
                    <span>01</span>
                    <h4>Reducir</h4>
                    <p>Es lograr disminuir la utilización vidrio, papel, cartón, aluminio y plásticos en los procesos productivos de la industria; para que los desechos al finalizar el ciclo de consumo sean menores. Es decir, a menor materia prima utilizada
                        en la producción menor contaminación habrá.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>02</span>
                    <h4>Reutilizar</h4>
                    <p>Es darle uso a un producto para un nuevo fin. En casa, muchas familias ya han tomado esta alternativa, las botellas de vidrio son usadas como contenedores de galletas, frascos para hilos o como jarrones; las bolsas plásticas sirven
                        para guardar el pan o para proteger las papeleras de los baños, las cajas hacen de organizadores y las revistas son usadas en las tareas de los niños.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box">
                    <span>03</span>
                    <h4>Reciclar</h4>
                    <p>Es el objetivo final de un Programa de Reciclaje, y para esto es necesario contar con las Canecas de Reciclaje apropiadas y los Contenedores de Basura que más se ajusten a cada necesidad.</p>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}
<!-- End Whu Us Section -->