{% extends './base/base.html' %} {% load staticfiles %} {% block title %} Galeria {% endblock %} {% block content %}
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container-fluid">

        <div class="section-title">
            <h2>Galeria de <span>Carcasas</span></h2>
            <p>puedes crear tu propia funda personalizada para smartphones. ¿Cómo? ¡Es muy simple! Sólo hay que seleccionar tu dispositivo con imágenes de nuestro catálogo.</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g1.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g1.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g2.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g2.jpeg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g3.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g3.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g4.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g4.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g5.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g5.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g6.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g6.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g7.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g7.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="{% static 'img/gallery/g8.jpeg' %}" class="venobox" data-gall="gallery-item">
                        <img src="{% static 'img/gallery/g8.jpeg' %}" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}
<!-- End Gallery Section -->