{% extends './base/base.html' %} {% load staticfiles %} {% block title %} Galeria {% endblock %} {% block content %}
<!-- ======= Reciclaje Section ======= -->
<section id="events" class="events">
    <div class="container">

        <div class="section-title">
            <h2>Metodos de <span>Reciclaje</span> en Organic Cases</h2>
        </div>

        <div class="owl-carousel events-carousel">

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="{% static 'img/panorama1.jpeg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Panorama actual en Chile</h3>
                    <div class="price">
                        <p><span>  </span></p>
                    </div>
                    <p class="font-italic">
                        El reciclaje no es igual en todos lados. Cada país, cada planta recicladora e incluso cada comuna con sus “puntos limpios” tienen procedimientos diferentes y por consiguiente requerimientos que van a variar.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> En Chile contamos con una red de puntos para recibir los residuos reciclables, compuesta por Puntos Verdes y Puntos Limpios..</li>
                    </ul>
                </div>
            </div>

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="{% static 'img/puntoverde1.jpeg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Puntos verdes</h3>
                    <div class="price">
                        <p><span> </span></p>
                    </div>
                    <p class="font-italic">
                        ¿Qué son los Punto Verde?
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Es uno o más contenedores fijos o móviles, ubicados en lugares de uso o acceso público destinados a recibir residuos específicos entregados por la población, para su almacenamiento y envío
                            a instalaciones de valorización o eliminación.</li>
                    </ul>
                </div>
            </div>

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="{% static 'img/puntolimpio1.jpeg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Puntos Limpios</h3>
                    <div class="price">
                        <p><span></span></p>
                    </div>
                    <p class="font-italic">
                        ¿Qué son los Punto limpio?
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Son instalaciones fijas o móviles ubicadas en lugares de acceso público, destinada a recibir selectivamente residuos entregados por la población, para su almacenamiento, posible pretratamiento
                            y envío a centros de acopio o a instalaciones de valorización o eliminación.
                        </li>
                    </ul>


                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}
<!-- End Reciclaje Section -->